.profile-button {
  width: 10em;
}

.button-group {
  text-align: center;
}

.grow {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1);
}

.img-max-width {
	width: 100%;
}

.event-container {
	max-height: 1070px;
	overflow: auto;
}