.profile-button {
  width: 10em;
}

.button-group {
  text-align: center;
}

.img-max-width {
	width: 100%;
}

.event-container {
	max-height: 1070px;
	overflow: auto;
}

.profile-container {
	padding-top: 2em;
	padding-bottom: 2em;
}