html,
body {
  height: 100%;
}

.list-item {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.event-image {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: 0.25s linear;
  background: linear-gradient(#004092, #020202, transparent);
  overflow: hidden;
}

.event-image-container {
  transition: 5s;
  overflow: hidden;
}

.image-container:hover .event-image-container {
  transform: scale(1.2);
  transition: 5s;
  overflow: hidden;
}

.image-container {
  height: 100%;
  position: relative;
  margin-bottom: 5em;
  overflow: hidden;
}

.video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.perspective {
  transform: perspective(0);
  overflow: hidden;
  margin-bottom: 2em;
}

.caption {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font: Helvetica, Sans-Serif;
  font-size: 4em;
  color: #fff;
  transform: translateY(0.5em);
  opacity: 0;
}

.animateHeaders {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease-in;
}

.sectionHead {
  font-size: 2.3em;
  letter-spacing: 0.05em;
  line-height: 2em;
  color: #2f2f2f;
}

.content.sectionHead {
  text-transform: uppercase;
}

.sectionHeadContainer {
  height: 5em;
  opacity: 1;
  text-align: center;
}

.video-container {
  padding: 0;
  height: 50%;
}

.about-main {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.about-text {
  opacity: 1;
  height: 100%;
}

div.about-text {
  padding-top: 1em;
}

div.about-us {
  margin: 0em 2em 2em 2em;
  padding: 0em 2em;
}

/* p {
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(120, end);
}

@keyframes type {
	from { width: 0;}
} */
