.list-item {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.event-image {
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);
  transition: .25s linear;
	background: linear-gradient(#004092, #020202, transparent);
  overflow: hidden;
}

.event-image-container {
	transition: 5s;
  overflow: hidden;
}

.image-container:hover .event-image-container {
  transform: scale(1.2);
  transition: 5s;
  overflow: hidden;
}

.image-container {
	height: 100%;
  position: relative;
  margin-bottom: 5em;
	overflow: hidden;
}

.video {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	
}

.perspective {
  transform: perspective(0);
  overflow: hidden;
  margin-bottom: 2em;
}

.caption {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font: Helvetica, Sans-Serif;
  font-size: 4em;
  color: #fff;
  transform: translateZ(0);
}

.animateHeaders {
  opacity: 1;
  transform: translateY(0);
  transition: 0.25s linear;
}

.sectionHead {
  font-size: 5em;
  line-height: 75%;
}

.sectionHeadContainer {
  height: 5em;
  opacity: 1;
}

.video-container {
  padding: 0;
}

.parallax-content {
<<<<<<< HEAD
  /* position: absolute;
	z-index: 1; */
}

.parallax-container {
  /* position: relative; */
=======
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.parallax-container {
  position: relative;
>>>>>>> 46fefb3c89e63a6cac35cb7f23dc0707e4c9a666
}

.parallax-headers {
  font-size: 57px;
  transform: translate(60%, -120%);
  color: #ff695e;
}
