body {
	font-family: 'Arimo', sans-serif;
}

.logo-text {
	font-family: 'Permanent Marker', cursive;
	/* color: #3ebcb2; */
	/* font-size: 2em; */
}

.arimo {
	font-family: 'Arimo', sans-serif;
}

.Kaushan {
	font-family: 'Kaushan Script', cursive;
}

.grow {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1);
}